body {
    --main-col: rgb(151, 183, 53);
    padding: 0;
    margin: 0;
}

/*gorne menu - navigacja */

nav {
    background-color: var(--main-col);
    position: sticky;
    top: 0;
    
}

nav ul{
    list-style:none;
    padding: 20px 10px;
    margin: 0px;
    
    
}
nav ul li{
    display: inline;
    margin: 20px;
    
}   
nav ul li a {
    font-size: large;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    
}

nav ul li a:hover{
    background-color: rgb(221, 221, 221);
    color: var(--main-col);
    padding:3px 10px;
}

/* baner */
#banner {
    width: 100%
}

/* 3 obrazki */

#obrazki {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    background-color:#f4f4f4;
}

/* artykul */

article {
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    background-color: rgb(94, 94, 94);
    color:white;
}

article h2 {
    color: var(--main-col);
    margin-bottom: 7px;
}

article a {
    color: var(--main-col);
    text-decoration: none;
}

.kolumna {
    padding: 30px;
}

#autor {
    margin-top:80px;
    background-image: url('assets/avatar.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100px;
    padding-left: 110px;
}

/* footer */

footer {
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    background-color: var(--main-col);
    color:white;
    padding: 5px 100px 30px 100px;
}

footer div{
    padding:20px;
}

footer i{
    size: 40px;
}
footer p{
    font-size: 8px;
    margin: 0;
}

footer h4{
    font-size: 17px;
    margin: 10px 0 0 0;
}

footer h4 i {
    font-size: 25px;
}